.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-color: #003145;

}

.logo {
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo img {
    position: relative;
    width: 105px;
    height: 41px;
    left: 142px
}

.section1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.inner1 {
    margin-left: 50px;
    width: 100%;
    height: auto;
    top: 88px;
    left: 142px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    overflow: hidden;

    
}

.inner1 h1 {
    font: popin;
    font-weight: 600;
    font-size: calc(25px + 0.5vw);
    line-height: 63px;
    color: #FFFFFF;
}

.inner1 p {
    width: 70%;
    font-family: Poppins;
    font-size: calc(14px + 0.05vw);
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.inner1 button {
    width: Hug (194px);
    height: Hug (52px);
    top: 188px;
    padding: 12px 18px 12px 18px;
    border-radius: 10px;
    gap: 8px;
    background-color: #44924C;
    color: #FFFFFF;
    margin-top: 30px;
    font-weight: 600;
    size: 16px;
    line-height: 28px;
    outline: none;
    border: none;
    cursor: pointer;

}

.inner2 {
    width: 30%;
    height: 50vh;
    margin-right: 50px;
    padding: 20px;
}

.inner2 img {
    width: 100%;
    height: 100%;
}




/* ------------------ search nav ------------- */

.content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .navbar{
        width: 100%;
        height: 100vh;
    }
    
    .section1 {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .inner1{
        width: 100vw;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
    }
    .inner2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .inner2 img{
        width: 80%;
        margin-left: 90px;
        height: 80%;
    }
}